RESCUEX_ENV=development
RESCUEX_LOG_LEVEL=INFO
RESCUEX_DATA_DIR=./.rescuex-data
RESCUEX_CACHE_DIR=./.rescuex-cache
RESCUEX_MAX_AOI_KM2=250
RESCUEX_SCENE_PAIR_DAYS_BEFORE=30
RESCUEX_SCENE_PAIR_DAYS_AFTER=14
RESCUEX_CDSE_CLIENT_ID=
RESCUEX_CDSE_CLIENT_SECRET=
